.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
    background:linear-gradient(135deg,#2563eb,#7c3aed);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.dark .navbar{
    background:#111827;
}

.logo{
    color:white;
    font-size:30px;
    font-weight:bold;
}

.search-box{
    display:flex;
    gap:10px;
}

.search-box input{
    width:350px;
    padding:12px 15px;
    border:none;
    border-radius:30px;
    outline:none;
    font-size:15px;
}

.search-btn{
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:white;
    color:#2563eb;
    cursor:pointer;
    font-weight:600;
    transition:0.3s;
}

.search-btn:hover{
    background:#f3f4f6;
}

.dark .search-btn{
    background:#374151;
    color:white;
}

.dark .search-btn:hover{
    background:#4b5563;
}

.theme-btn{
    padding:10px 15px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.logout-btn {
  padding: 14px 30px;
  border: none;
  border-radius: 10px;
  background: #ef4444;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #dc2626;
  transform: translateY(-3px);
}

.menu-container{
    position: relative;
}

.hamburger{
    background: white;
    border: none;
    font-size: 24px;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
}

.dropdown-menu{
    position: absolute;
    right: 0;
    top: 55px;
    width: 180px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    overflow: hidden;
}

.dropdown-menu button{
    width: 100%;
    border: none;
    background: white;
    padding: 14px;
    text-align: left;
    cursor: pointer;
    font-size: 15px;
}

.dropdown-menu button:hover{
    background: #f3f4f6;
}

.logout-btn{
    color: red;
    font-weight: bold;
}

.dark .dropdown-menu{
    background: #1f2937;
}

.dark .dropdown-menu button{
    background: #1f2937;
    color: white;
}

.dark .dropdown-menu button:hover{
    background: #374151;
}